.bg-img{
    background-image: url(../assets/images/background.a9369827.png);
}
.slick-prev:before, .slick-next:before{
    
    color: black !important;
}
/* .ser-slider .slick-track {
    width: 100% !important;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
} */
.ser-slider .slick-track .slick-slide {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.contact-bg{
    background-image: url(../assets/images/contact-img.jpg);
    background-size: cover;
    background-position: center center;
}